<template>
	<div class="films-page container">
	    <h2>Выбери фильм на свой вкус</h2>
	    <films-list :films="films" />
	</div>
</template>

<script>
	import FilmsList from '../components/FilmsList'
	
	export default {
		components: {
			FilmsList
		},
		data() {
			return {
				films: []
			}
		},
		created() {
			this.$load(async() => {
				this.films = await this.$api.films.getAll();
			})
		}
	}
</script>

<style lang="scss" scoped>
	h2 {
		margin-bottom: 30px;
		font-size: 40px;
		color: white;
	}
</style>