<template>
	<div class="film-page">
		<div class="container" v-if="film">
			<h1>{{ film.title }}</h1>
			<img :src="film.img" :alt="film.title" />
			<section class="section">
				<div class="section__title">О сюжете:</div>
				<div class="section__description">{{ film.description }}</div>
			</section>
			<section class="section">
				<div class="section__title">Рейтнг:</div>
				<div class="section__description">{{ film.rating }}</div>
			</section>
			<section class="section">
				<div class="section__title">Актерский состав:</div>
				<div class="section__description">
					{{ film.actors.join(", ") }}
				</div>
			</section>
			<section class="section">
				<div class="section__title">Режиссеры:</div>
				<div class="section__description">
					{{ film.directors.join(", ") }}
				</div>
			</section>

			<div class="line"></div>

			<div class="review">
				<h3>Смотрели этот фильм</h3>
				<ul>
					<li v-for="reaction in reactions" :key="reaction.id">
						<button type="button" class="btn btn-outline-light">
							{{ reaction.title }}
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	data() {
		return {
			film: null
		}
	},
	computed: {
		...mapGetters({
			getReactions: 'reactions/getReactions' 
		}),
		reactions() {
			return this.getReactions;
			// return this.$store.getters.getReactions;
		}
	},
	created() {
		this.$load(async() => {
			this.film = await this.$api.films.get(this.$route.params.id);
		}) 
	}
}
</script>

<style lang="scss" scoped>
.film-page {
	padding-bottom: 100px;
	.back {
		margin-left: 30px;
		margin-top: 30px;
		color: white;
	}
	h1 {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 15px;
		color: white;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			bottom: 0;
			left: 0;
			background: linear-gradient(
				90deg,
				#eb5804 0%,
				rgba(0, 0, 0, 0) 90%
			);
		}
	}
	img {
		width: 1160px;
		margin-bottom: 30px;
		object-fit: cover;
		border-radius: 10px;
	}
	.section {
		&__title {
			margin-bottom: 10px;
			color: #eb5804;
			font-weight: 700;
			font-size: 25px;
		}
		&__description {
			color: #ffffff;
			font-size: 18px;
			line-height: 30px;
		}
	}
}
</style>
