<template>
	<div class="films-layout">
		<FilmsSiteHeader/>
      	
      	<router-view></router-view>
	</div>
</template>

<script>
	import FilmsSiteHeader from '../components/FilmsSiteHeader'
	import { mapActions } from 'vuex'

	export default {
		components: {
			FilmsSiteHeader
		},
		methods: {
			// spread синтаксис, расшираяет объект methods
			...mapActions({
				loadReactions: 'reactions/loadReactions'
			})
		},
		created() {
			this.loadReactions(1000);
			// this.$store.dispatch('loadReactions', 1000);
		}
	}
</script>