<template>
	<div class="counter__item">
		{{ counterText }}
		<div class="counter__controls">
			<button class="counter__button" @click="countMinus">-</button>
			<input type="text" v-model.number="count" class="counter__input">
			<button class="counter__button" @click="countPlus">+</button>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CounterItem",
		props: {
			counterText: {
				type: String,
				default: '',
				required: false
			},
			minValue: {
				type: Number,
				default: 1,
				required: false
			},
			maxValue: {
				type: Number,
				default: 10,
				required: false
			}
		},
		data() {
			return {
				count: 1
			}
		},
		methods: {
			countPlus() {
				if (this.count < this.maxValue) {
					this.count++;
				}
			},
			countMinus() {
				if (this.count > this.minValue) {
					this.count--;
				}
			}
		},
		watch: {
			count(val, prevVal) {
				this.count = (val < this.minValue || val > this.maxValue) ? prevVal : val;
			}
		}
	}
</script>

<style scoped>
	.counter__item {
		margin: 10px 0;
	}
	.counter__controls {
		display: flex;
		margin-top: 10px;
	}
	.counter__button {
		width: 30px;
		height: 30px;
	}
	.counter__input {
		width: 30px;
		text-align: center;
	}
</style>