<template>
	<div class="list-block">
		<input type="text" v-model="filterString">
		<ul>
			<li
				v-for="(listItem, index) in filteredList"
				:key="index"
				>
				{{ listItem }}
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		name: 'CustomList',
		data() {
			return {
				filterString: '',
				listElements: [
					'Раз',
					'Два',
					'Три',
					'Четыре',
					'Пять',
				],
			}
		},
		methods: {

		},
		computed: {
			filteredList() {
				return this.listElements.filter((elem) => elem.toUpperCase().includes( this.filterString.toUpperCase() ) );
			}
		}
	}
</script>

<style scoped>
	ul {
		padding-left: 0;
		list-style-type: none;
	}
</style>