<template>
	<div class="root">
		<label for="">
			Введите email:
			<input 
				type="email"
				v-model="email"
			>
		</label>

		<label for="">
			Введите пароль:
			<input 
				type="password" 
				:value="password"
				@input="passInput"
			>
		</label>
	</div>
</template>

<script>
	export default {
		name: 'MyComponent',
		data() {
			return {
				email: 'as@as.zx',
				password: '123456'
			}
		},
		methods: {
			passInput(event) {
				this.password = event.target.value;
			}
		}
	}
</script>