<template>
	<div class="container">
		<div class="flex">
			<div class="img-wrapper">
				<img 
					v-if="isCatVisible"
					:class="imgFilters"
					:style="imgStyles"
					src="../assets/card-man.jpg" alt="">
				<p v-else>Мужик скоро будет</p>
			</div>
			<div class="controls">
				<h1>Шавуха</h1>
				
				<h2>Фильтры</h2>
				<div class="controls flex">
					<button
						tyle="button"
						@click="imgFilters.sepia = !imgFilters.sepia"
						:class="{ active : imgFilters.sepia}"
					>
						Сепия
					</button>
					<button
						tyle="button"
						@click="imgFilters.border = !imgFilters.border"
						:class="{ active : imgFilters.border}"
					>
						Рамка
					</button>
					<button
						tyle="button"
						@click="imgFilters.shadow = !imgFilters.shadow"
						:class="{ active : imgFilters.border}"
					>
						Тень
					</button>
				</div>

				<h2>Размер</h2>
				<div class="controls">
					<div class="label">
						Ширина: {{ imgSizes.currentWidth }}
						<input
							type="range"
							:value="imgSizes.currentWidth"
							@input="imgSizes.currentWidth = $event.target.value"
							:max="imgSizes.maxWidth"
						>
					</div>
					<div class="label">
						Высота: {{ imgSizes.currentHeight }}
						<input
							type="range"

							:value="imgSizes.currentHeight"
							@input="imgSizes.currentHeight = $event.target.value"
							:max="imgSizes.maxHeight"
						>
					</div>
				</div>

				<h2>Поворот</h2>
				<div class="controls">
					<div class="label">
						Поворот на {{ imgRotate }} градусов
						<input
							type="range"
							:value="imgRotate"
							@input="imgRotate = $event.target.value"
							min="0"
							max="360"
						>
					</div>
				</div>

				<button @click="isCatVisible = !isCatVisible">
					{{ (isCatVisible) ? 'Спрятать' : 'Показать' }}
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'PhotoRedactor',
		data() {
			return {
				isCatVisible: true,
				imgFilters: {
					sepia: false,
					border: false,
					shadow: false,
				},
				imgSizes: {
					maxWidth: 680,
					maxHeight: 480,
					currentWidth: 680,
					currentHeight: 480,
				},
				imgRotate: '0'
			}
		},
		computed: {
			imgStyles() {
				return {
					width: `${this.imgSizes.currentWidth}px`,
					height: `${this.imgSizes.currentHeight}px`,
					transform: `rotate(${this.imgRotate}deg)`
				}
			}
		}
	}
</script>

<style scoped>
	.caontainer {
		margin-top: 40px;
	}
	controls {
		margin-left: 20px;
	}
	.img-wrapper {
		width: 460px;
		height: 480px;
		background-color: #cecece;
	}

	img {
		transition: 0.2s ease;
	}
	img.sepia {
		filter: sepia(100%);
	}
	img.border {
		border: 5px dashed #464646;
	}
	img.shadow {
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7);
	}

	button {
		margin-right: 10px;
	}
	button.active {
		background-color: yellow;
	}
	h2 {
		margin-bottom: 10px;
	}
	.controls {
		margin-bottom: 20px;
	}
</style>