<template>	
	<input 
		type="text" 
		class="search" 
		@input="$emit('input', $event.target.value)"
	>
</template>

<script>
	export default {		
		model: {
			prop: 'value',
			event: 'input' // событие, которое слушает v-model
		}
	}
</script>

<style scoped>
	input {
		height: 25px;
		margin-right: 30px;
	}
</style>