<template>
	<div class="products-list">

		<div class="flex top-information">
			<h1>Детские столы</h1>

			<SearchControl @search="searchProducts"/>

		</div>
		
		<ul class="list-default flex">
			<li 
				v-for="(product, index) in products"
				:key="index"
			>
				<product-card
					:title="product.title"
					:price="product.price"
					:img-url="product.imgUrl"
					:count="product.count"
					@addToBasket="addToBasket(index)"
				>
				</product-card>
			</li>
		</ul>
	</div>
</template>

<script>
	import ProductCard from './ProductCard'
	import SearchControl from './SearchControl'

	export default {
		name: 'ProductsList',
		components: {
			ProductCard,
			SearchControl
		},
		data() {
			return {
				products: [					
					{
						title: 'KRITTER КРИТТЕР Стол детский',
						price: 9999,
						imgUrl: 'https://www.ikea.com/ru/ru/images/products/kritter-stol-detskiy-belyy__0735837_pe740208_s5.jpg?f=xl',
						count: 20	
					},
					{
						title: 'MAMMUT МАММУТ Стол детский',
						price: 9999,
						imgUrl: 'https://www.ikea.com/ru/ru/images/products/mammut-stol-detskiy-d-doma-ulicy-siniy__0735844_pe740211_s5.jpg?f=xl',
						count: 20	
					},
					{
						title: 'FLISAT ФЛИСАТ Стол детский',
						price: 9999,
						imgUrl: 'https://www.ikea.com/ru/ru/images/products/flisat-stol-detskiy__0735831_pe740206_s5.jpg?f=xl',
						count: 20	
					},
					{
						title: 'SUNDVIK СУНДВИК Стол с отделением для хранения',
						price: 9999,
						imgUrl: 'https://www.ikea.com/ru/ru/images/products/sundvik-stol-s-otdeleniem-dlya-hraneniya-belyy__0735858_pe740221_s5.jpg?f=xl',
						count: 20	
					}
				]
			}
		},
		methods: {
			addToBasket(index) {
				console.log(index);
			},
			searchProducts(searchString) {
				console.log('Загрузить: ' + searchString);
			}
		},
		computed: {
			filteredProducts() {
				return this.products.filter((elem) => elem.toUpperCase().includes( this.filterString.toUpperCase() ) );
			}
		}
	}
</script>

<style scoped>
	
</style>