<template>
	<div>
		<input 
			type="text" 
			class="search" 
			v-model="searchString"
		>

		<button 
			type="button"
			@click="productsFilter"
		>
			Найти
		</button>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				searchString: ''
			}
		},
		methods: {
			productsFilter() {
				this.$emit('search', this.searchString);
			}
		}
	}
</script>

<style scoped>
	input {
		height: 25px;
		margin-right: 30px;
	}
</style>