<template>
  <div>
    <form class="sign-up" @submit.prevent="checkForm" v-if="!form.validate">

      <div class="form-group">
        <label for="login">Логин:</label>
        <input
          id="login"
          class="form-control"
          :class="$v.form.login.$error ? 'is-invalid' : ''"
          v-model.trim="form.login"
        />
        <p class="invalid-feedback" v-if="$v.form.login.$dirty && !$v.form.login.required">Обязательное поле</p>
        <p class="invalid-feedback" v-if="$v.form.login.$dirty && !$v.form.login.minLength">Здесь должно быть больше 5-и символов</p>
      </div>

      <div class="form-group">
        <label for="login">Почта:</label>
        <input
          id="email"
          type="email"
          class="form-control"
          :class="$v.form.email.$error ? 'is-invalid' : ''"
          v-model.trim="form.email"
        />
        <p class="invalid-feedback" v-if="$v.form.email.$dirty && !$v.form.email.required">Обязательное поле</p>
        <p class="invalid-feedback" v-if="$v.form.email.$dirty && !$v.form.email.email">Email неккоректный</p>
      </div>

      <div class="form-group">
        <label for="login">Пароль:</label>
        <input
          id="password"
          type="password"
          class="form-control"
          :class="$v.form.password.$error ? 'is-invalid' : ''"
          v-model.trim="form.password"
        />
        <p class="invalid-feedback" v-if="$v.form.password.$dirty && !$v.form.password.required">Обязательное поле</p>
      </div>


      <div class="form-group">
        <label for="country">Страна проживания:</label>
        <select id="country" class="form-control" v-model="form.country">
          <option
            v-for="(country, index) in countries"
            :key="index"
            :value="country.value"
          >
            {{ country.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="themes">Любимые темы:</label>
        <select
          id="themes"
          class="form-control"
          :class="$v.form.favouriteThemes.$error ? 'is-invalid' : ''"
          v-model="form.favouriteThemes"
          multiple
        >
          <option
            v-for="(theme, index) in themes"
            :value="theme.value"
            :key="index"
          >
            {{ theme.label }}
          </option>
        </select>
        <p class="invalid-feedback" v-if="$v.form.favouriteThemes.$dirty && !$v.form.favouriteThemes.noMore">Выберите не более двух тем</p>
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="notification"
          v-model="form.agreeWithSendEmail"
        />
        <label class="form-check-label" for="notification"
          >Уведомлять меня о новых курсах</label
        >
      </div>


      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="police"
          :class="$v.form.agreeWithRules.$error ? 'is-invalid' : ''"
          v-model="form.agreeWithRules"
        />
        <label class="form-check-label" for="police"
          >С правилами ознакомлен</label
        >
        <p class="invalid-feedback" v-if="$v.form.agreeWithRules.$dirty && !$v.form.agreeWithRules.checked">Ознакомьтесь с правилами</p>
      </div>

      <div class="flex">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="male"
            name="exampleRadios"
            id="male"
            v-model="form.gendere"
          />
          <label class="form-check-label" for="male"> Мужчина </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="female"
            name="exampleRadios"
            id="female"
            v-model="form.gendere"
          />
          <label class="form-check-label" for="female"> Женщина </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <div v-else>
      <h2>
        {{ form.login }}, вы успешно зарегистрировались!
      </h2>
    </div>
  </div>

</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    form: {
      login: {
        required,
        minLength: minLength(5),
      },
      email: {
        required,
        email,
      },
      password: {
        required
      },
      favouriteThemes: {
        noMore(val) {
          return val.length < 3;
        }
      },
      agreeWithRules: {
        checked (val) {
          return val;
        }
      }
    },
  },
  data() {
    return {
      form: {
        login: "",
        email: "",
        password: "",
        country: "RU",
        favouriteThemes: ["design"],
        agreeWithSendEmail: false,
        gendere: "male",
        agreeWithRules: false,
        validate: false
      },
      countries: [
        {
          label: "Россия",
          value: "RU",
        },
        {
          label: "Казахстан",
          value: "KZ",
        },
        {
          label: "Украина",
          value: "UK",
        },
      ],
      themes: [
        {
          label: "Дизайн",
          value: "design",
        },
        {
          label: "Информационные технологии",
          value: "it",
        },
        {
          label: "Музыка",
          value: "music",
        },
      ],
    };
  },
  methods: {
    checkForm() {
      this.$v.form.$touch();
      if (!this.$v.form.$error) {
        this.form.validate = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.form-control {
  width: 400px;
}
.form-check {
  margin-right: 10px;
}
button {
  margin-top: 15px;
}
</style>
