<template>
	<div class="user-card">

		<h1>Научу</h1>

		<div class="main-information">
			<img src="../assets/card-man.jpg" alt="" width="500px">
			<div class="info">
				<h2>
					{{ fullName }}
				</h2>
				<strong>Коуч</strong>
				<ul>
					<li>Учу</li>
					<li>Не знаю</li>
					<li>Пообещал</li>
				</ul>
			</div>
		</div>
		<p>Участников: {{ users.length }}</p>
		<ul>
			<li 
				v-for="(user, index) in users"
				:key="index"
			>
				{{ `${index + 1} ${getFullName(user)}` }}
			</li>
		</ul>

		<button
			type="butotn"
			@click="currentPage--">
				Пред.
		</button>
		<button
			type="butotn"
			v-for="page in pages"
			@click="currentPage = page"
			:key="page">
				{{ page }}
		</button>
		<button
			type="butotn"
			@click="currentPage++">
				След.
		</button>
		<p>Страница {{ currentPage }} из {{ pages }}</p>

	</div>
</template>

<script>
	export default {
		name: 'userCard',
		data() {
			return {
				firstName: 'Игнатий',
				secondName: 'Илаич',
				lastName: 'Руков',

				users: [
					{
						firstName: 'Игнатий 1',
						secondName: 'Илаич 1',
						lastName: 'Руков 1',
					},
					{
						firstName: 'Игнатий 2',
						secondName: 'Илаич 2',
						lastName: 'Руков 2',
					},
					{
						firstName: 'Игнатий 3',
						secondName: 'Илаич 3',
						lastName: 'Руков 3',
					}
				],
				pages: 3,
				currentPage: 1

			}
		},
		computed: {
			fullName() {
				return `${this.firstName} ${this.secondName} ${this.lastName}`.toUpperCase();
			}
		},
		methods: {
			getFullName(user) {
				return `${user.firstName} ${user.secondName} ${user.lastName}`.toUpperCase();
			},
			loadUsers(page) {
				console.log(`Загрузка пользователей: | Страница ${page}`);
			}
		},
		watch: {
			currentPage(page) {
				this.loadUsers(page);

			}
		}
	}
</script>

<style scoped>
	.user-card {
    	margin-top: 40px;
  	}
  	.main-information {
  		display: flex;
  	}
  	.info {
    	margin-left: 50px;
  	}
  	h2 {
    	margin-bottom: 14px;
  	}
</style>