<template>
	<div class="user-page">
		<button type="button" class="btn btn-primary" @click="openModal">
			Подробнее
		</button>
		<modal
			v-if="isModalOpen"
			title="Очень важная информация"
			@close="isModalOpen = false"
		>	

			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quod, laborum placeat, ad animi dolorem facere assumenda, repellendus nisi debitis voluptate velit eum quibusdam? Maxime optio accusamus ex, dolores! Commodi.
			<ul>
				<li>12</li>
				<li>d12</li>
				<li>gh12</li>
			</ul>

			<!-- <template v-slot:footer>
				<button
					type="button"
					class="btn btn-secondary"
				>
					Отмена 1
				</button>
				<button type="button" class="btn btn-primary">
					Сохранить 1
				</button>
			</template> -->
		</modal>

		<TextEditor></TextEditor>
	</div>
</template>

<script>
import Modal from './Modal'
import TextEditor from './TextEditor'

export default {
	components: {
		Modal,
		TextEditor
	},
	data() {
		return {
			isModalOpen: false
		}
	},
	methods: {
		openModal() {
			this.isModalOpen = true;
		}
	}
}
</script>

<style lang="scss" scoped>

</style>