<template>
  <div id="app">
    <div class="container">
      <!-- <my-component></my-component> -->

      <!-- <CounterItem :counterText="'Введите число'"></CounterItem> -->

      <!-- <UserCard></UserCard> -->
      
      <!-- <custom-list></custom-list> -->
      
      <!-- <PhotoRedactor></PhotoRedactor> -->

      <!-- <ProductsList></ProductsList> -->

      <!-- <UserForm></UserForm> -->

      <!-- <sign-up /> -->

      <!-- <UserPage></UserPage> -->
      
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// import MyComponent from './components/MyComponent'
// import CounterItem from './components/CounterItem'
// import UserCard from './components/UserCard'
// import CustomList from './components/CustomList'
// import PhotoRedactor from './components/PhotoRedactor'
// import ProductsList from './components/ProductsList'
// import UserForm from './components/UserForm'
// import SignUp from './components/SignUp'
// import UserPage from './components/UserPage'
export default {
  name: 'App',
  components: {
    // MyComponent,
    // CounterItem,
    // UserCard,
    // CustomList,
    // PhotoRedactor,
    // ProductsList,
    // UserForm,
    // SignUp,
    // UserPage
  }
}
</script>
